<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Rented</title>
    <link rel="stylesheet" href="style.css">
    <style>
         .page-content {
            padding: 20px;
            max-width: 600px;
            margin: auto;
            text-align: center;
            background-color: black;
            text 
         }

         .page-content h1 {
            font-size: 2.5 ;em 
            margin-bottom: 20px;
            
         }

         .page-content p {
            line-height: 1.6;
            margin-bottom: 20px;
        }
    </style>
</head>
<body style="background-color: black;">
    <div class="container">
        <h1 style="color: aliceblue; font-family: Arial, sans-serif; text-align: center;">About Us</h1>
        <hr>
        <div class="page-content">
            <p style="color: aliceblue; font-family: Arial, sans-serif;">Rented is a simple and convenient platform that lets you rent out the items you own or find items you need to borrow. All you have to do is post your item, set a price, and make it available to others. From tools and electronics to furniture and more, Rented makes it easy to share, save, and earn without the hassle of buying new.</p>
        </div>
    </div>
</body>
</html>